<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>letters_A.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,5},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_B.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,375},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_C.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,745},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_D.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,1115},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_E.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,1485},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_F.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,5},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_G.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,5},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_H.png</key>
      <dict>
        <key>frame</key>
        <string>{{1007,5},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_I.png</key>
      <dict>
        <key>frame</key>
        <string>{{1341,5},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_J.png</key>
      <dict>
        <key>frame</key>
        <string>{{1675,5},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_K.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,375},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_L.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,745},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_M.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,1115},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_N.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,1485},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_O.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,375},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_P.png</key>
      <dict>
        <key>frame</key>
        <string>{{1007,375},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_Q.png</key>
      <dict>
        <key>frame</key>
        <string>{{1341,375},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_R.png</key>
      <dict>
        <key>frame</key>
        <string>{{1675,375},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_S.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,745},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_T.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,1115},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_U.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,1485},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_V.png</key>
      <dict>
        <key>frame</key>
        <string>{{1007,745},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_W.png</key>
      <dict>
        <key>frame</key>
        <string>{{1341,745},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_X.png</key>
      <dict>
        <key>frame</key>
        <string>{{1675,745},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_Y.png</key>
      <dict>
        <key>frame</key>
        <string>{{1007,1115},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>letters_Z.png</key>
      <dict>
        <key>frame</key>
        <string>{{1007,1485},{324,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>atlas.webp</string>
      <key>size</key>
      <string>{2004,1850}</string>
      <key>textureFileName</key>
      <string>atlas</string>
    </dict>
  </dict>
</plist>
