<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sprite_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,57},{386,425}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{386,425}}</string>
        <key>sourceSize</key>
        <string>{386,425}</string>
      </dict>
      <key>sprite_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,86},{369,382}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{369,382}}</string>
        <key>sourceSize</key>
        <string>{369,382}</string>
      </dict>
      <key>sprite_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1038,129},{334,332}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{334,332}}</string>
        <key>sourceSize</key>
        <string>{334,332}</string>
      </dict>
      <key>sprite_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,562},{362,397}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{362,397}}</string>
        <key>sourceSize</key>
        <string>{362,397}</string>
      </dict>
      <key>sprite_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,569},{381,402}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{381,402}}</string>
        <key>sourceSize</key>
        <string>{381,402}</string>
      </dict>
      <key>sprite_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,575},{379,368}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{379,368}}</string>
        <key>sourceSize</key>
        <string>{379,368}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>atlas.webp</string>
      <key>size</key>
      <string>{1448,1086}</string>
      <key>textureFileName</key>
      <string>atlas</string>
    </dict>
  </dict>
</plist>
